body, article, nav, pre {
	font-family: arial;
	font-size:small;
}

aside {
	display:none;
	width: 90%;
	margin: 10px;
	padding: 10px;
}

#input {
	display:none;
}

#output {
	display:none;
	width: 100%;
}

nav {
	width:45%;
}

span {
	width:100%;
}

#sketch {
	width: 45%;
	height: 100%;
	position:fixed;
	top: 0px;
	right: 0px;
	text-align: right;
}


.form {
	width:100%;
}



input {
	width:100%;
	font-size:small;
	border: 1px solid gray;
}
.inline {
	width:auto;
}


select {
	width:100%;
	font-size:small;
	border: 1px solid gray;
}

.soil_name, .soil_depth, .soil_dry, .soil_wet, .soil_angle, .delete, .pos_x, .pos_y, .force_x, .force_y {
	font-size:small;
	display: inline-block;
	margin: 0px;
	text-align: center;
	border: 1px solid gray;
}

.soil_name {
	width:30%;
}

.soil_depth, .soil_dry, .soil_wet, .soil_angle, .pos_x, .pos_y, .force_x, .force_y {
	width:15%;
}

.delete {
	width:5%;
}

.error {
	border: 1px solid red;
}

.nonerror {
	border: 1px solid gray;
}

#error {
	color: red;
}

#solve {
	width: 10%;
	height: 10%;
	background-color: #666666;
	position:fixed;
	text-align: center;
	bottom: 0px;
	right: 0px;
	display:table;
}

#solve:hover {
	background-color: #BBBBBB;
}

#solve_button {
	display: table-cell;
	vertical-align: middle;
}

table, #headline {
	width:90%;
	border: 1px solid black;
}

th {
	text-align: left;
}

table td {
	width: 10%;
}

.headline {
	background-color: #AACCCC;
}