body, article, nav, pre {
	font-family: arial;
}

aside {
	display:none;
	width: 90%;
	margin: 10px;
	padding: 10px;
}

#input {
	display:none;
}

#output {
	display:none;
}

nav {
	width:45%;
}

span {
	width:100%;
}

#sketch {
	width: 45%;
	height: 100%;
	position:fixed;
	top: 0px;
	right: 0px;
	text-align: right;
}


.form {
	width:100%;
}

input {
	width:100%;
	font-size:medium;
	border: 1px solid gray;
}

select {
	width:100%;
	font-size:medium;
	border: 1px solid gray;
}

.soil_name, .soil_depth, .soil_weight, .soil_angle, .soil_delete {
	font-size:medium;
	display: inline-block;
	margin: 0px;
	text-align: center;
	border: 1px solid gray;
}

.soil_name {
	width:45%;
}

.soil_depth, .soil_weight, .soil_angle {
	width:15%;
}

.soil_delete {
	width:5%;
}

.error {
	border: 1px solid red;
}

.nonerror {
	border: 1px solid gray;
}

#error {
	color: red;
}