body, article, nav, pre {
	font-family: arial;
	font-size:small;
}

aside {
	display:none;
	width: 90%;
	margin: 10px;
	padding: 10px;
}

#input {
	display:none;
}

#output {
	display:none;
	
}

nav {
	width:65%;
}

span {
	width:100%;
}

#sketch {
	width: 30%;
	height: 100%;
	position:fixed;
	top: 0px;
	right: 0px;
	text-align: right;
}

#preview, #graph {
	position:fixed;
	top: 0px;
	right: 0px;
}

#preview, .preview {
	z-index: 1;
}
#graph, .graph {
	z-index: 2;
}

.form {
	width:100%;
}



input {
	width:100%;
	font-size:small;
	border: 1px solid gray;
}
.inline {
	width:auto;
}


select {
	width:100%;
	font-size:small;
	border: 1px solid gray;
}

.soil_name, .soil_depth, .soil_dry, .soil_wet, .soil_angle, .delete, .pos_x, .pos_y, .force_x, .force_y {
	font-size:small;
	display: inline-block;
	margin: 0px;
	text-align: center;
	border: 1px solid gray;
}

.soil_name {
	width:30%;
}

.soil_depth, .soil_dry, .soil_wet, .soil_angle, .pos_x, .pos_y, .force_x, .force_y {
	width:15%;
}

.delete {
	width:5%;
}

.error {
	border: 1px solid red;
}

.nonerror {
	border: 1px solid gray;
}

#error {
	color: red;
	width: 30%;
	position:fixed;
	bottom: 10%;
	right: 0px;
	display: block;
}

#solve {
	width: 20%;
	height: 10%;
	position:fixed;
	text-align: center;
	bottom: 0px;
	right: 0px;
	display:table;
}

#solve_button:hover {
	background-color: #BBBBBB;
}

#solve_button {
	display: table-cell;
	background-color: #666666;
	vertical-align: middle;
}

table, #headline {
	width:95%;
	border: 1px solid black;
	white-space:nowrap;
}

.headline_result {
	text-align:left;
}

table {
	text-align:left;
}

td {
	text-align:center;
}

table, td, th {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid black;
}

tr {
	width:100%;
}

td, th {
	width: 10%;
	border-top: 0px solid black;	
}

td, .subtitle td, .subtitle th {
	border-bottom: 0px solid black;
}

.no_border td, .no_border th{
	border: 0px solid white;
	padding: 0px;
	margin: 0px;
}

.headline {
	background-color: #AACCCC;
}

.right {
	text-align: right;
}